jobs:

- template: security-container-scan.yml@SharedPipeline
  parameters:
    fullImageUri: $(Parameter.fullImageUri)

# Run Gitleaks on Source Repository
- task: Gitleaks@2
  displayName: Gitleaks - All Mode
  inputs:
    scanlocation: '$(Build.SourcesDirectory)'
    configtype: 'predefined'
    scanmode: 'all'
    predefinedconfigfile: 'GitleaksUdmCombo.toml'
    redact: true
    taskfail: false
    reportformat: 'sarif'
    uploadresults: false

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    contents: "*.sarif" 
    targetFolder: $(Agent.TempDirectory)/sast-results/Gitleaks-all-mode/

- task: DeleteFiles@1
  displayName: 'Remove unneeded files'
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    contents: "$(Agent.TempDirectory)/*.sarif" 

- task: Gitleaks@2
  displayName: Gitleaks - Changes/Prevalidation Mode
  inputs:
    ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      scanmode: 'prevalidation'
    ${{ else }}:
      scanmode: 'changes'
    scanlocation: '$(Build.SourcesDirectory)'
    configtype: 'predefined'
    predefinedconfigfile: 'GitleaksUdmCombo.toml'
    redact: true
    taskfail: false
    uploadresults: false
    reportformat: 'sarif'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    contents: "*.sarif" 
    targetFolder: $(Agent.TempDirectory)/sast-results/Gitleaks-Changes/

- task: DeleteFiles@1
  displayName: 'Remove unneeded files'
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    contents: "$(Agent.TempDirectory)/*.sarif" 


- task: OWASPDependencyCheck@0
  inputs:
    outputDirectory: '$(Agent.TempDirectory)/dependency-scan-results'
    scanDirectory: '$(Build.SourcesDirectory)'
    outputFormat: 'ALL'
    useSonarQubeIntegration: false

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)/dependency-scan-results'
    contents: "*.sarif" 
    targetFolder: $(Agent.TempDirectory)/sast-results/dependency-scan-results/

- task: DeleteFiles@1
  displayName: 'Remove unneeded files'
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    contents: "$(Agent.TempDirectory)/*.sarif" 

- script: |
    mkdir $(Agent.TempDirectory)/sast-results/SCS -m 777
    dotnet tool install --global security-scan
    security-scan $(Build.SourcesDirectory)/WebGoatCore.sln  --excl-proj=**/*Test*/** --cwe --export=$(Agent.TempDirectory)/sast-results/SCS/sast-results.sarif    
  displayName: 'Install and run SCS'
  continueOnError: false

- task: PublishBuildArtifacts@1
  displayName: "Publish analysis logs"
  inputs:
    PathtoPublish: "$(Agent.TempDirectory)/sast-results"
    ArtifactName: "CodeAnalysisLogs"
    publishLocation: "Container"
