jobs:
- template: security-container-scan.yml@SharedPipelines
  parameters:
    fullImageUri: $(Parameter.fullImageUri)

- template: security-iac-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)

- template: security-secret-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)
    
- template: security-dependancy-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)

 - template: security-dotnet-sast-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)   

- template: security-publish-artifacts.yml@SharedPipelines
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)