jobs:

- template: security-container-scan.yml@SharedPipeline
  parameters:
    fullImageUri: $(Parameter.fullImageUri)

- template: security-iac-scan.yml@SharedPipeline
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)

- template: security-secret-scan.yml@SharedPipeline
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)
    
- template: security-dependancy-scan.yml@SharedPipeline
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)

- script: |
    mkdir $(Agent.TempDirectory)/sast-results/SCS -m 777
    dotnet tool install --global security-scan
    security-scan $(Build.SourcesDirectory)/WebGoatCore.sln  --excl-proj=**/*Test*/** --cwe --export=$(Agent.TempDirectory)/sast-results/SCS/sast-results.sarif    
  displayName: 'Install and run SCS'
  continueOnError: false

- template: security-publish-artifacts.yml@SharedPipeline
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)