parameters:
- name: sourceDirectory
  type: string
  default: '$(Build.SourcesDirectory)'
- name: fullImageUri
  type: string
- name: projectSlnDirectory1
  type: string

steps:
- template: security-container-scan.yml@SharedPipelines
  parameters:
    fullImageUri: $(parameters.fullImageUri)

- template: security-iac-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: $(parameters.sourceDirectory)

- template: security-secret-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: $(parameters.sourceDirectory)
    
- template: security-dependancy-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: $(parameters.sourceDirectory)

 - template: security-dotnet-sast-scan.yml@SharedPipelines
  parameters:
    projectSlnDirectory: $(parameters.projectSlnDirectory1)   

- template: security-publish-artifacts.yml@SharedPipelines
  parameters:
    sourceDirectory: $(parameters.sourceDirectory)