parameters:
- name: sourceDirectory
  type: string
  default: $(Build.SourcesDirectory)
- name: fullImageUri
  type: string
- name: projectSlnDirectory
  type: string

steps:
- template: owasp-zap/create-xml-to-xslt-file.yml@SharedPipelines
  parameters:
    fullImageUri: '${{ parameters.fullImageUri }}'

- template: security-dast-scan.yml@SharedPipelines
  parameters:
    fullImageUri: '${{ parameters.fullImageUri }}'

- template: security-iac-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: '${{ parameters.sourceDirectory }}'

- template: security-container-scan.yml@SharedPipelines
  parameters:
    fullImageUri: '${{ parameters.fullImageUri }}'

- template: security-secret-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: '${{ parameters.sourceDirectory }}'
    
- template: security-dependancy-scan.yml@SharedPipelines
  parameters:
    sourceDirectory: '${{ parameters.sourceDirectory }}'

- template: security-dotnet-sast-scan.yml@SharedPipelines
  parameters:
    projectSlnDirectory: '${{ parameters.projectSlnDirectory }}'   

- template: secuirty-publish-artifacts.yml@SharedPipelines
  parameters:
    sourceDirectory: '${{ parameters.sourceDirectory }}'