jobs:

- template: security-container-scan.yml@SharedPipeline
  parameters:
    fullImageUri: $(Parameter.fullImageUri)

- template: secuirty-iac-scan.yml@SharedPipeline
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)


- template: secuirty-secret-scan.yml@SharedPipeline
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)
    

- task: OWASPDependencyCheck@0
  inputs:
    outputDirectory: '$(Agent.TempDirectory)/dependency-scan-results'
    scanDirectory: '$(Build.SourcesDirectory)'
    outputFormat: 'ALL'
    useSonarQubeIntegration: false

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Agent.TempDirectory)/dependency-scan-results'
    contents: "*.sarif" 
    targetFolder: $(Agent.TempDirectory)/sast-results/dependency-scan-results/

- task: DeleteFiles@1
  displayName: 'Remove unneeded files'
  inputs:
    SourceFolder: '$(Agent.TempDirectory)'
    contents: "$(Agent.TempDirectory)/*.sarif" 

- script: |
    mkdir $(Agent.TempDirectory)/sast-results/SCS -m 777
    dotnet tool install --global security-scan
    security-scan $(Build.SourcesDirectory)/WebGoatCore.sln  --excl-proj=**/*Test*/** --cwe --export=$(Agent.TempDirectory)/sast-results/SCS/sast-results.sarif    
  displayName: 'Install and run SCS'
  continueOnError: false

- task: PublishBuildArtifacts@1
  displayName: "Publish analysis logs"
  inputs:
    PathtoPublish: "$(Agent.TempDirectory)/sast-results"
    ArtifactName: "CodeAnalysisLogs"
    publishLocation: "Container"
