jobs:

- template: security-container-scan.yml@SharedPipeline
  parameters:
    fullImageUri: $(Parameter.fullImageUri)

- template: secuirty-iac-scan.yml@SharedPipeline
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)

- template: secuirty-secret-scan.yml@SharedPipeline
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)
    
- template: secuirty-dependancy-scan.yml@SharedPipeline
  parameters:
    sourceDirectory: $(Parameter.sourceDirectory)

- script: |
    mkdir $(Agent.TempDirectory)/sast-results/SCS -m 777
    dotnet tool install --global security-scan
    security-scan $(Build.SourcesDirectory)/WebGoatCore.sln  --excl-proj=**/*Test*/** --cwe --export=$(Agent.TempDirectory)/sast-results/SCS/sast-results.sarif    
  displayName: 'Install and run SCS'
  continueOnError: false

- task: PublishBuildArtifacts@1
  displayName: "Publish analysis logs"
  inputs:
    PathtoPublish: "$(Agent.TempDirectory)/sast-results"
    ArtifactName: "CodeAnalysisLogs"
    publishLocation: "Container"
