name: Gitleaks Manual

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the source code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Download gitleaks
        run: |
          curl -LO https://github.com/zricethezav/gitleaks/releases/download/v8.2.7/gitleaks_8.2.7_linux_x64.tar.gz
          tar zxvf gitleaks_8.2.7_linux_x64.tar.gz
          chmod +x gitleaks

      - name: Scan with gitleaks
        run: ./gitleaks detect --exit-code 0 --redact --report-format sarif --report-path results.sarif

      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif

      - name: Clean up results file
        run: rm -f results.sarif
